a[href^="http"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 0.5em; }

#map {
  height: 35em; }
  #map img {
    box-shadow: None; }

.sidebar h2 small {
  display: block; }

div.main,
.panel {
  background: #fff;
  border-radius: 0;
  border: 1px solid #ebdfdf;
}

div.main {
  padding: 1em;
}

body {
  padding-top: 0;
}

.nav li a:hover,
.nav li a:focus {
  background: #ebdfdf !important;
  color: #e44a6c !important;
}

.nav .active > a,
.nav .active > a:hover,
.nav .active > a:focus {
  background: #e44a6c !important;
  color: #fff !important;
}

.navbar {
  margin: 0;
  border-radius: 0;
  border: 1px solid #ebdfdf;
}

.navbar-inner {
  background: #fff;
}

a.btn {
  background: #ebdfdf;
}

a.btn.btn-danger,
.btn.btn-primary,
a.btn.btn-navbar,
a.btn.btn-navbar:hover,
a.btn.btn-navbar:focus {
  background: #e44a6c;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 175px;
}

.bg-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
}
