a[href^="http"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 0.5em; }

#map {
  height: 35em; }
  #map img {
    box-shadow: None; }

.sidebar h2 small {
  display: block; }

div.main,
.panel {
  background: #fff;
  border-radius: 0;
  border: 1px solid #ebdfdf;
}

div.main {
  padding: 1em;
}

body {
  padding-top: 0;
}

.nav li a:hover,
.nav li a:focus {
  background: #ebdfdf;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  background: #e44a6c;
}
