<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}theme/_css/style.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/wedding.css">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">
<div class="bg-top"></div>
<div id="top">
    <div class="date-area center-text"><span><big>16</big><br /><small>August</small></span></div>
</div>


<div class="navbar navbar-fixed-top visible-phone">
<div class="navbar-inner">
<div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    <div class="nav-collapse collapse">
        {% page_menu "pages/menus/dropdown.html" %}
    </div>
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}



</div>

<div class="container-fluid">
<div class="row-fluid">

<div class="span3 left sidebar hidden-phone">
    {% block left_panel %}
    <div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="span6 middle main">
    <div class="name-area center-text">{% block title %}{% endblock %}</div>
    {% block main %}{% endblock %}
</div>

<div class="span3 sidebar right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% block rsvp_panel %}
        <div class="panel">
            {% include "rsvp/includes/rsvp_status.html" %}
            <a class="btn" href="{% url 'rsvp' %}">RSVP</a>
        </div>
    {% endblock %}
    {% block email_address_panel %}
        {% if not user.email %}
            <div class="panel">
                <p><a href="{% url "profile_update" %}">
                Let us know your email address</a> so we can keep you up to date with
                the plans and arrangements.</p>
            </div>
        {% endif %}
    {% endblock %}
    {% endnevercache %}
</div>

</div>
</div>

<footer class="bg-footer">
<div class="container">
<div class="row">
    <div class="span6">
        <div class="contact-item">
            {% trans "Built using" %}
            <a class="blog-lightcolor" href="http://mezzanine.jupo.org">Mezzanine</a>
            {% trans "for" %}
            <a class="blog-lightcolor" href="http://www.djangoproject.com">Django</a>
        </div>
    </div>
    <div class="span6">
        <div class="contact-item mail-lightcolor"><a class="blog-lightcolor" href="mailto:wedding@michaelblatherwick.co.uk">wedding.michaelblatherwick.co.uk</a></div>
        {% if user.is_authenticated %}
        <div class="contact-item phone-lightcolor">07768 285175 (Alex)</div>
        <div class="contact-item phone-lightcolor">07581 228624 (Michael)</div>
        <div class="contact-item skype-lightcolor">michael.blatherwick</div>
        {% endif %}
    </div>
</div>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
